/* Reuseable */
.primary {
    color: #4E47FF;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bg-primary {
    background-color: #4E47FF;
}

.raleway {
    font-family: 'Raleway';
}

.inter {
    font-family: 'Inter';
}

.center {
    text-align: center;
}



/* Header CSS */
header {
    background-image: url(/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
    margin-bottom: 100px;


}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 0 0 0;
    margin-bottom: 100px;
}

.logo {
    font-size: 40px;
    font-weight: 900;
}

.signUP {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    gap: 10px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.heading h1 {
    margin-bottom: 30px;
}

.sf-btn {
    width: fit-content;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px;
    align-items: center;
    border-radius: 10px;
    border: none;
}


/* Second Section */
.webFlow {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.webFlow img {
    border-radius: 48px;
}

.web {
    margin-right: 120px;
}

.web h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
}

.web p {
    color: #25243280;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.lp-btn {
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.users {
    display: flex;
    width: 1140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px 80px;
    gap: 15px;
    background-color: #4E47FF1A;
    border-radius: 24px;
    margin-bottom: 130px;
}
.Productive-Users {
    display: flex;
    gap: 150px;
}
.Productive-Users h1 {
    font-size: 80px;
    margin-bottom: 0;
}
.Productive-Users p {
    font-size: 20px;
    margin: 0;
    font-family: inter;
    color: #00000080;
}